*{
	margin: 0;
	padding: 0;
}

:host{
	--dark-menu: hsl(200, 10%, 35%);
}

.load-area, .load-area *{
	/*border: thin solid red;*/
}

.container{
	font-family: sans-serif;
	/*background: rgba(0, 0, 0, 0.01);*/
}

.viewport{
	margin: 0 auto;
	max-width: 600px;
}

.load-area{
	display: flex;
	height: 100vh;
	/*height: calc(100vh - 15px);*/
}

.load-visible-area{
	margin: auto;
}

.bounce-loader{
	display: flex;
	justify-content: space-between;
	width: 250px;
	/*overflow: hidden;*/
	opacity: 0.5;
	animation: rotate 9s linear infinite alternate;
}

.bounce-loader div{
	padding: 35px;
	border-radius: 50%;
	display: inline-block;
	background: lightblue;
	animation: bounce 2s ease infinite alternate;
}

/*.bounce-loader div:nth-child(2){
	animation-delay: 1s;
}

.bounce-loader div:last-child{
	animation-delay: 2s;	
}*/

.info{
	color: rgba(0, 0, 0, 0.5);
	margin-top: 50px;
	text-align: center;
	font-size: 1.5em;
}

@keyframes rotate{
	from{
		transform: rotate(90deg);
	}
	to{
		transform: rotate(450deg);
	}
}

@keyframes bounce{
	from{

	}
	to{

	}
}

@keyframes bounce{
	0%{
		transform: translate(0px, 0px);
		opacity: 1;
		background: lightblue;
		/*box-shadow: inset -8px -8px 7px 0px hsl(182, 25%, 40%), 1px 2px 4px #999;*/
	}
	20%{
		transform: translate(-100px, 0px);
	}
	40%{
		transform: translate(0px, -50px);
		background: lightblue;
	}
	80%{
		transform: translate(-50px, -50px);
		background: lightblue;
	}
	100%{
		transform: translate(0px, 0px);
		opacity: .2;
		background: lightpink;
		/*background: coral;*/
		/*box-shadow: inset -8px -8px 7px 0px hsl(16, 100%, 56%), 1px 2px 4px #999;*/
	}
}



/*tab interface*/
/*.tab{
	max-width: 100vw;
}
.tab, .screen{
	position: relative;
}
.tab > a{}
.tab .load-area{
	position: absolute;
	top: 10px;
	left: 0;
	background: white;
	/*display: none;*/
/*}
*/
/*.tag .load-area:target, 
.tag .load-area:first-of-type{
	z-index: 2;
	/*display: block;*/
/*}*/